<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="WatchFolder" value="" />
		<add key="FileTypeFilters" value="" />
		<add key="LogDir" value="" />
		<add key="BackupDir" value="" />
		<add key="BackupLength" value="7" />
		<add key="ServiceName" value="" />
		<add key="ServiceDescription" value="" />
		<add key="SCP_Username" value="" />
		<add key="SCP_Password" value="" />
		<add key="SCP_Hostname" value="" />
		<add key="SCP_Folder" value="" />
		<add key="SCP_Remote" value="/" />
		<add key="SCP_Hostkey" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>